html.light.theme-github-light {
  --bg: #ffffff;
  --fg: #24292f;
  --primary: #0969da;
  --secondary: #57606a;
  --primary-fg: #ffffff;
  --secondary-fg: #ffffff;
  --card-bg: #f6f8fa;
  --card-border: #d0d7de;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  background-image: none;
}
