html.dark.theme-gruvbox-dark {
  --bg: #282828;
  --fg: #ebdbb2;
  --primary: #d79921;
  --secondary: #a89984;
  --card-bg: #3c3836;
  --card-border: #504945;
  --card-shadow-color: rgba(0,0,0,0.4);
}
