html.light.theme-gruvbox-light {
  --bg: #fbf1c7;
  --fg: #3c3836;
  --primary: #b57614;
  --secondary: #928374;
  --card-bg: #f2e5bc;
  --card-border: #d5c4a1;
  --card-shadow-color: rgba(60,56,54,0.1);
  background-image: none;
}
