html.dark.theme-material-dark {
  --bg: #263238;
  --fg: #eceff1;
  --primary: #80cbc4;
  --secondary: #546e7a;
  --card-bg: #37474f;
  --card-border: #455a64;
  --card-shadow-color: rgba(0, 0, 0, 0.4);
}

html.dark.theme-material-dark a {
  color: #a7ffeb;
}
