html.light.theme-morning {
  --bg: #e6efff;
  --fg: #334e68;
  --primary: #102a43;
  --secondary: #627d98;
  --primary-fg: #ffffff;
  --secondary-fg: #ffffff;
  --card-bg: #f0f7ff;
  --card-border: #bcccdc;
  --card-shadow-color: rgba(0, 0, 0, 0.15);
  background-image: none;
}
