html.dark.theme-synthwave {
  --bg: #2b213a;
  --fg: #fffbf5;
  --primary: #ff7edb;
  --secondary: #36f9f6;
  --card-bg: #241b2f;
  --card-border: #ff7edb;
  --card-shadow-color: rgba(255,126,219,0.1);
}
