/* modal.css */
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
}

[x-cloak].modal {
  display: none !important;
}

.modal-content {
  background-color: var(--card-bg);
  margin: 5% auto;
  border: 1px solid var(--card-border);
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--fg);
  padding: 2rem;
  padding-top: 3.5rem;
  width: 90%;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: auto;
  min-height: 50vw;
  box-sizing: border-box;
  position: relative;
}

.modal-content form {
  padding: 1px;
  line-height: 1.6;
}

.modal-content h2 {
  margin-top: 1rem;
  font-size: 1.5em;
}

html.light .modal-content {
  background-color: var(--card-bg);
  color: var(--fg);
}

.transition {
  transition-property: opacity, transform;
}

.duration-200 {
  transition-duration: 0.2s;
}

.ease-in {
  transition-timing-function: ease-in;
}

.opacity-100 {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.translate-x-0 {
  transform: translateX(0) !important;
}

.translate-x-full {
  transform: translateX(100%) !important;
}

.settings-group {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.settings-group.grow {
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1rem;
}

.settings-group label {
  flex-shrink: 0;
}

.settings-group span[id$="-text"] {
  flex-shrink: 0;
  margin-right: 0.5rem;
  text-align: right;
}

.settings-group>div.d-flex {
  display: flex;
  align-items: center;
}

.settings-group:not(.grow) button {
  align-self: flex-end;
}

#rss-settings-block,
#keywords-settings-block {
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

#main-settings {
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.settings-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--card-border);
}

.settings-option:last-child {
  border-bottom: none;
}

.settings-option span {
  font-size: 1.1em;
  font-weight: bold;
}

.save-message {
  font-size: 0.9em;
  color: var(--primary);
  margin-left: 0.5em;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .modal-content {
    width: 85%;
  }
}

.modal-content,
.item {
  border-radius: 10px;
}